<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleDebug" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss} - %-5p %c{1}:%l]: %m%n" />
		</layout>
	</appender>

	<appender name="consoleInfo" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}]: %m%n" />
		</layout>
	</appender>

	<category name="org.openqa.selenium">
		<priority value="off" />
	</category>
	<category name="org.apache.log4j">
		<priority value="off" />
	</category>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleInfo" />
	</root>

</log4j:configuration>