<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleDebug" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%d{yyyy-MM-dd HH:mm:ss} - %-5p %c{1}:%l]: %m%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="consoleInfo" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%d{yyyy-MM-dd HH:mm:ss}]: %m%n
			</Pattern>
		</layout>
	</appender>
    
    <appender name="cli" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %m%n
            </Pattern>
        </layout>
    </appender>

	<logger name="org.openqa.selenium" level="off"/>
	<logger name="com.gargoylesoftware" level="off"/>

    <logger name="com.github.noraui.cli" additivity="false">
        <appender-ref ref="cli" />
    </logger>
    
	<root level="INFO">
		<appender-ref ref="consoleInfo" />
	</root>

</configuration>
