<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <appender name="consoleInfo_" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{yyyy-MM-dd HH:mm:ss}]:** %m%n
            </Pattern>
        </layout>
    </appender>
    
    <appender name="cli" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.github.noraui.cli">
        <appender-ref ref="cli" />
    </logger>
    
	<root level="INFO">
		<appender-ref ref="consoleInfo_" />
        <appender-ref ref="cli" />
	</root>

</configuration>
